body {
    font-family: sans-serif;
}


#advertising {
    border: 10px solid red;
    font-size: 100px;
    text-transform: uppercase;
}

#news-articles {
    counter-reset: articles_counter;
}

.article-item {
    counter-increment: article_counter;
}

.article-item > h3::before {
    content: "Counter = " counter(article_counter) ". ";
}