body {
    font-family: sans-serif;
}


#advertising {
    border: 10px solid red;
    font-size: 100px;
    text-transform: uppercase;
}

#news-articles {
    counter-reset: articles_counter;
}

.article-item {
    counter-increment: article_counter;
}

.article-item > h3::before {
    content: "Counter = " counter(article_counter) ". ";
}

/*Fix hidden adding*/
.hidden-heading {
    font-size: 0;
    width: 1;
    height: 1;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}
